@import url("https://fonts.googleapis.com/css?family=Cabin|Montserrat");
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.active {
  background-color: grey;
  padding: 1.3rem 0;
}

#mainHeader {
  padding: 1rem 1.2rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: #2c3e50;
  margin: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1.3rem;
}

nav a:hover {
  background-color: white;
  color: #2c3e50;
}

.mast {
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-color: #18bc9c;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  align-items: center;
}

img {
  height: 200px;
  border-radius: 50%;
}

div {
  color: white;
}

div h2 {
  font-weight: 600;
  font-size: 3rem;
}

section {
  padding: 6rem 0;
  width: 600px;
  margin: 0 auto;
  font-family: Cabin, sans-serif;
}

h3 {
  font-weight: 600px;
  font-size: 3rem;
}

p {
  text-align: left;
  font-size: 1.4rem;
}

#mainFooter {
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  background-color: #2c3e50;
  color: white;
}

i {
  margin-right: 5px;
}

h3 {
  padding: 1rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul a {
  text-decoration: none;
  color: white;
  padding: 0.8rem;
  margin: 0;
}

footer ul a:hover {
  background-color: white;
  color: #2c3e50;
}
